@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

/* BODY */

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

/* TOP HEADER */

.top-header{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: #ffffff;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.top-header-lan-currency ul{
    display: flex;
}
.top-header-lan-currency li{
    padding: 15px;
}

.top-header-lan-currency a:hover{
    color: #949494; 
}
.top-header-lan-currency i{
    font-size: 10px;
}

/* MAIN HEADER */

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0A83E;
    padding: 20px;  
}

.main-header-nav ul{
    display: flex;
}

.main-header-nav li{
    padding: 15px;
}

.main-header-nav a:hover{
    color: #865711;
}


/* MAIN */

.heroe-slider{
    background-color: #94D2AA;
    background-image: url('../images/bowl-and-pet-daities-on-green-background\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 409px;
}

.heroe-slider span{
    color: #3C2313;
    font-size: 30px;
    font-weight: 400;
    background-color: #ffffff;
}

.heroe-slider p{
   color: #3C2313; 
   font-size: 16px;
   font-weight: 400;
}

.heroe-slider a{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F0A83E;
}

.productos h2{
    font-size: 40px;
    color: #3C2313;
    font-weight: 700;
}

.productos p{
    color: #666666;
    font-size: 15px;
    font-weight: 400;
}

.card-1, .card-2, .card-3{
    background-color: #FBFAF6;
}

.card-1 h3, .card-2 h3, .card-3 h3{
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
}

.card-1 p, .card-2 p, .card-3 p{
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500;
}

/* FOOTER */

.top-footer{
    background-color: #3C2313;
}

.top-footer span{
    color: #ffffff;
}

.location h4, .phone h4, .email h4{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.legal-footer{
    background-color: #222222;
}


.legal-footer p{
    color: #ffffff;
}