@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
    border: 0; 
}

/* HEADER */

.top-header{
    background-color: #222222;
    color: #ffffff;
}
.main-header{
 background-color: #F0A83E;
}

ul a{
    color: #ffffff;
    text-decoration: none;
}

/* MAIN */

.heroe-slider{
    background-color: #94D2AA;
    background-image: url('../images/bowl-and-pet-daities-on-green-background\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 409px;
}

.heroe-slider span{
    color: #3C2313;
    font-size: 30px;
    font-weight: 400;
    background-color: #ffffff;
}

.heroe-slider p{
   color: #3C2313; 
   font-size: 16px;
   font-weight: 400;
}

.heroe-slider a{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F0A83E;
}

.productos h2{
    font-size: 40px;
    color: #3C2313;
    font-weight: 700;
}

.productos p{
    color: #666666;
    font-size: 15px;
    font-weight: 400;
}

.card-1, .card-2, .card-3{
    background-color: #FBFAF6;
}

.card-1 h3, .card-2 h3, .card-3 h3{
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
}

.card-1 p, .card-2 p, .card-3 p{
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500;
}

/* FOOTER */

.top-footer{
    background-color: #3C2313;
}

.top-footer span{
    color: #ffffff;
}

.location h4, .phone h4, .email h4{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.legal-footer{
    background-color: #222222;
}


.legal-footer p{
    color: #ffffff;
}